/* styles */
/* called by your view template */

* {
  box-sizing: border-box;
}

body {
  font-family: "Benton Sans", "Helvetica Neue", helvetica, arial, sans-serif;
  margin: 2em;
  background-image: url('pexels-photo-1169754.jpeg');
  background-size: cover;
  color: white;
  background-attachment: fixed;
}
body::before {
  content: ' ';
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.5;
  z-index: -1;
  background-color: #111111;
}

a:link {
  text-decoration: none;
  color: DeepSkyBlue;
}

a:visited {
  text-decoration: none;
  color: DeepSkyBlue;
}

a:hover {
  text-decoration: underline;
  color: LightSkyBlue;
}

a:active {
  text-decoration: underline;
  color: MediumAquamarine;
}

h1 {
  font-style: italic;
}

.nojs {
  color: Salmon;
}

.bold {
  font-weight: bold;
}

/*p {
  max-width: 600px;
}*/

form {
  margin-bottom: 25px;
  padding: 15px;
  background-color: cyan;
  display: inline-block;
  width: 100%;
  max-width: 340px;
  border-radius: 3px;
}

input {
  display: block;
  margin-bottom: 10px;
  padding: 5px;
  width: 100%;
  border: 1px solid lightgrey;
  border-radius: 3px;
  font-size: 16px;
}

button {
  font-size: 16px;
  border-radius: 3px;
  background-color: lightgrey;
  border: 1px solid grey;
  box-shadow: 2px 2px teal;
  cursor: pointer;
}

button:hover {
  background-color: yellow;
}

button:active {
  box-shadow: none;
}

li {
  margin-bottom: 5px;
}


#options li i { color: sandybrown; }
#options li b { color: lightPink; }
.useVal b { color: ivory !important; }
.example { color: blanchedAlmond !important; }
#options a:link { color: blanchedAlmond; }
#options a:visited { color: blanchedAlmond; }
#options a:hover { color: khaki !important; text-decoration: underline; }
#options a:active { color: goldenRod !important; text-decoration: underline; }

footer {
  margin-top: 50px;
  padding-top: 25px;
  border-top: 1px solid lightgrey;
}

code {
  background-color: rgba(200,200,200,0.7);
  padding: 5px;
  display: inline-block;
  color: black;
}

.json-key     { color: darkgreen; }
.json-value   { color: red; }
.json-string  { color: darkred; }
.json-token   { color: blue; }
.json-comment { color: rgb(70,70,70); }

.tab { margin-left: 2em; }
