/* styles */
/* called by your view template */

*
 {
    box-sizing: border-box;
  }
  
  body {
    font-family: "Benton Sans", "Helvetica Neue", helvetica, arial, sans-serif;
    margin: 2em;
    background-color: white;
  }

  a { text-decoration: none; color: blue; }
  a:hover { text-decoration: underline; }
  a:active { color: deepskyblue; }
  a:visited { color: blue; }

  h1 {
    font-style: italic;
  }
  
  .nojs {
    color: Salmon;
  }
  
  .bold {
    font-weight: bold;
  }
    
  li {
    margin-bottom: 5px;
  }
  
  code {
    background-color: rgba(200,200,200,0.7) !important;
    padding: 5px;
    display: inline-block;
    color: black;
  }

  #options {
    line-height: 1.25em;
  }

  .command {
    padding: .1em .2em;
    white-space: break-spaces;
    background-color: rgba(200,200,200,0.7) !important;
    border-radius: 5px;
    font-family: monospace !important;
    font-size: 1.15em;
    /*font-weight: bold;*/
  }
  
  .json-key     { color: darkgreen !important; }
  /*.json-value   { color: red !important; }
  .json-string  { color: darkred !important; }*/
  .json-token   { color: blue !important; }
  .json-comment { color: rgb(70,70,70) !important; }
  
  .tab { margin-left: 2em; }
  
